# Replace with your domain
api.terln.com {
    encode zstd gzip

    # Static files
    handle /static/* {
        file_server {
            root /static
        }
    }

    reverse_proxy terln-api:3000
}