# Replace with your domain
api.terln.com {
    encode zstd gzip
    reverse_proxy terln-api:3000

    # Static files
    handle /static/* {
        file_server {
            root /static
        }
    }
}