# Replace with your domain
api.terln.com {
    encode zstd gzip

    # Static files
    handle_path /static/* {
        root * /static
        file_server browse
    }

    reverse_proxy terln-api:3000
}